<app-nav-bar></app-nav-bar>
<app-header-background [imgSrc]="'/assets/imgs/cats/header.jpg'"> </app-header-background>
<app-search (searchResualt)="filterBySearch($event)"> </app-search>

<div class="cat" *ngFor="let cat of cats">
    <p> {{cat.name}}</p>
    <p> {{cat.age}}</p>
    <p> {{cat.breed}}</p>
    <p> {{cat.gender}}</p>
    <p> {{cat.vaccinated}}</p>
    <img src={{cat.img}}>
    <button  class="button" (click)="deleteTheCat(cat)"> delete cat </button>
    <button class="button"> <a [routerLink]="[cat.id]"> edit cat details </a></button>
</div>