<app-nav-bar></app-nav-bar>
<app-header-background [imgSrc]="'/assets/imgs/cats/header.jpg'"> </app-header-background>
<app-search (searchResualt)="filterBySearch($event)"> </app-search>


<div class="parent"> 
<div class="animal" *ngFor="let cat of cats">
    <img src={{cat.img}} class="animal-img" >
    <p> {{cat.name}}</p>
    <p> {{cat.age}}</p>
    <p> {{cat.breed}}</p>
    <p> {{cat.gender}}</p>
    <p> {{cat.vaccinated}}</p>
        <button  class="button action-button" (click)="deleteTheCat(cat)"> delete  </button>
        <button class="button action-button"> <a [routerLink]="[cat.id]"> edit  </a></button>
   
</div>
</div>