<app-nav-bar></app-nav-bar>
<app-header-background [imgSrc]="'/assets/imgs/adoption/header3.jpeg'"> </app-header-background>

<div class="adoption-form"> 
        
    <form method="POST" [formGroup]="adoptionForm" (ngSubmit)="onSubmit(adoptionForm.value)">
     <p> Choose your Animal </p>
     <input type="radio" value="Cat" formControlName="animalType"> 
     <label name = "adopt-cat"> Cat </label>
     <input type="radio" value="Dog"  formControlName="animalType">
     <label name = "adopt-dog"> Dog </label>
     <p> Enter your pet name </p>
     <input type="text" name="name"  class="input-text" formControlName="name" >  
     <p> Enter your pet age </p>
     <input type="text" name="age"  class="input-text" formControlName="age"> 
     
     <p > Enter your pet breed </p>
     <input type="text" name="breed"  class="input-text" formControlName="breed"> 
     
     <p> is your pet vaccinated? </p>
     <input type="radio" value="yes" name="vaccinated" formControlName="vaccinated"> 
     <label name = "vaccinated"> yes </label>
     <input type="radio" value="no" name="vaccinated" formControlName="vaccinated">
     <label name = "vaccinated"> no </label>
     
     <p> Enter your pet gender </p>
     <input type="text" name="gender" required class="input-text" formControlName="gender">
     
     <p> select an image of your pet </p>
     <input type="url" name="image" required class="input-text" formControlName="img">
     
     <!-- <input type="submit" value="submit" class="submit-btn" (click)="checkForm()">  -->
     <input type="submit" value="submit" class="submit-btn"> 

     <p class="error" *ngIf="formInvalid"> {{errorInForm}}</p>
    </form>
 </div>